<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="Ortelius">
					<Component Guid="90464C33-C812-4F04-8829-492465E22529" Id="OrteliusExe" DiskId="1">
						<File Source="..\OrteliusApp\bin\Release\Ortelius.exe" Name="Ortelius.exe" Id="Ortelius.exe">
							<Shortcut Id="orteliusShortCut" Icon="Ortelius.exe" Directory="ProgramMenuDir" Name="Ortelius" WorkingDirectory="INSTALLDIR" />
							<Shortcut Id="orteliusDeskShortCut" Icon="Ortelius.exe" Directory="DesktopFolder" Name="Ortelius" WorkingDirectory="INSTALLDIR" Advertise="yes" />
						</File>
						<ProgId Id="Ortelius.orp" Description="Ortelius project file">
							<Extension Id="orp" ContentType="application/orp">
								<Verb Id="open"  Command="Open" Target="[!Ortelius.exe]" Argument="&quot;%1&quot;" />
							</Extension>
						</ProgId>
					</Component>
					<Component Id="RemoveSettings" Guid="2823CD54-EB6C-4837-B086-E07A543F208F">
						<RemoveFile Id="Settings" On="uninstall" Name="settings.ors" />
					</Component>
					<Directory Id="ProgramMenuFolder" Name="Programs">
						<Directory Id="ProgramMenuDir" Name="Ortelius" />
					</Directory>
					<Directory Id="DesktopFolder" Name="Desktop" />
					<Directory Id="styles" Name="styles">
						<Component Guid="72A52203-B3CC-497D-955D-279CB2C4C428" Id="BasicXsl" DiskId="1">
							<File Source="..\OrteliusApp\bin\Release\styles\basic.xsl" Name="basic.xsl" Id="basic.xsl" />
						</Component>
						<Component Guid="C5BC128D-147B-4EEC-A157-5D79E1B0635C" Id="PrintXsl" DiskId="1">
							<File Source="..\OrteliusApp\bin\Release\styles\print.xsl" Name="print.xsl" Id="print.xsl" />
						</Component>
						<Directory Id="basic" Name="basic">
							<Component Guid="9A96A942-CF16-430C-A9FE-073EFA83541C" Id="ArrowleftGif" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\basic\arrowleft.gif" Id="arrowleft.gif" Name="arrowleft.gif" />
							</Component>
							<Component Guid="BFD4A4DA-4B01-48CA-9F16-A91AC4B75654" Id="ArrowrightGif" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\basic\arrowright.gif" Id="arrowright.gif" Name="arrowright.gif" />
							</Component>
							<Component Guid="7813C2B6-9480-49E8-907C-6E3CCA177AA5" Id="ScriptJs" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\basic\script.js" Name="script.js" Id="script.js" />
							</Component>
							<Component Guid="B5B451B3-9B57-4C2D-905E-10ED18C028E3" Id="StyleCss" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\basic\style.css" Name="style.css" Id="style.css" />
							</Component>
							<Component Guid="B5B451B3-9B57-4C2D-905E-10ED18C028E3" Id="ModGif" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\basic\modifier.gif" Name="modifier.gif" Id="modifier.gif" />
							</Component>
							<Component Guid="B5B451B3-9B57-4C2D-905E-10ED18C028E3" Id="DynamicModGif" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\basic\dynamicmodifier.gif" Name="dynamicmodifier.gif" Id="dynamicmodifier.gif" />
							</Component>
							<Component Guid="B5B451B3-9B57-4C2D-905E-10ED18C028E3" Id="StaticModGif" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\basic\staticmodifier.gif" Name="staticmodifier.gif" Id="staticmodifier.gif" />
							</Component>
							<Component Guid="B5B451B3-9B57-4C2D-905E-10ED18C028E3" Id="OverrideModGif" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\basic\overridemodifier.gif" Name="overridemodifier.gif"  Id="overridemodifier.gif" />
							</Component>
						</Directory>
						<Directory Id="print" Name="print">
							<Component Guid="6C1D07E8-BE3D-4CFC-B2F7-F6E71D61BEE7" Id="PrintArrowleftGif" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\print\arrowleft.gif"  Id="print.arrowleft.gif" Name="arrowleft.gif" />
							</Component>
							<Component Guid="8E4C76B0-CD00-46C8-856F-E9CBA019C6C6" Id="PrintArrowrightGif" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\print\arrowright.gif"  Id="print.arrowright.gif" Name="arrowright.gif" />
							</Component>
							<Component Guid="0A75BC3A-CCFF-4D4D-AC59-B11CF32BB8D8" Id="PrintStyleCss" DiskId="1">
								<File Source="..\OrteliusApp\bin\Release\styles\print\style.css" Name="style.css" Id="print.style.css" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
