body {
	margin:0 0 0 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
}

.classDetails {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 30px;
	padding: 10px;
	padding-top: 20px;
	width:94%;
    max-width:650px;
    margin-left:auto;
    margin-right:auto;
}

.toggleInheritedText
{
}
.isInherited_publicmethod{}
.isInherited_protectedmethod{}
.isInherited_internalmethod{}
.isInherited_publicproperties{}
.isInherited_protectedproperties{}
.isInherited_internalproperties{}

.toggleInherited
{
    position:absolute;
    left:10px;
}
#content {
	overflow: auto;
	position: absolute;
	left: 320px;
	top: 48px;
	right: 0px;
	bottom: 0px;
	scrollbar-arrow-color: #c62c30;
	scrollbar-face-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-highlight-color: #999999;
	scrollbar-shadow-color:#999999;
	scrollbar-3dlight-color:  #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
}
#classList,#indexByName,#indexByModifiedTime {
	position: absolute;
	background-color: #f6f6f6;
	overflow:auto;
	visibility: visible;
	width: 280px;
	min-height:100px;
	left: 0px;
	top: 88px;
	bottom: 0px;
	padding: 10px;
	scrollbar-arrow-color: #c62c30;
	scrollbar-face-color: #f6f6f6;
	scrollbar-track-color: #f6f6f6;
	scrollbar-highlight-color: #999999;
	scrollbar-shadow-color:#999999;
	scrollbar-3dlight-color:  #f6f6f6;
	scrollbar-darkshadow-color: #f6f6f6;
}

#indexByName,#indexByModifiedTime {
	
	visibility: hidden;
	}
	
#indexMenu {
	background-color: #eaeaea;
	position: absolute;
	visibility: visible;
	width: 280px;
	height:10px;
	left: 0px;
	top: 48px;
	padding: 10px;
	padding-top: 20px;

}


.pakageTreeName {
	font-weight:normal;
}
.pakageTreeNameCurrent {
	font-weight:bold;
}
#topBar {
	color: #000000;
	background-color:#c62c30;
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	height:48px;
	padding:0px;
	overflow:hidden;
    color:#FFF;
    overflow:hidden;
}
#topBar a,
#topBar {
    color:#FFF;
}

#createdText {
	bottom:3px;
	position: absolute;
	right:20px;
	height:17px;
}
#topNavigation {
	bottom:3px;
	position: absolute;
	left: 10px;
    font-size:22px;
    font-weight:normal;
    font-style:normal;
}


.packageTreeVisible {
	padding: 0px;
	padding-left: 15px;
	padding-bottom: 8px;
	display:inline-block;
}
.hiddenElement {
	display:none;
}
.detailsVisible {
	display:block;
	margin:0px;
	margin-bottom:0px;
	padding: 0px;
	display:block;
}


#div_publicmethod,
#div_publicproperties,
#div_protectedmethod,
#div_protectedproperties,
#div_internalmethod,
#div_internalproperties,
#div_privatemethod,
#div_privateproperties {
	margin-bottom:50px;
}

.detailHeader {
    padding-bottom:1px;
	margin-top:15px;
	margin-bottom:5px;
	font-size:14px;
    color:#000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-right-style: none;
	border-left-style: none;
}
.detailElement {
	font-size:11px;
	font-weight:normal;
}
.treeBranch {
	font-size: 11px;
	color: #000000;
	padding: 0px;
}
.nonChoosen {
	font-weight:normal;
}
.choosen {
	font-weight:bold;
}
.elementTitle {
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}
.methodPropertyTabel {
	width:100%;
}
.methodPropertyModifiers {
	white-space: nowrap;
	width:2%;
	padding-right:5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	vertical-align:top;
}
.methodPropertySummary {
	font-style:italic;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	vertical-align:top;
	color:#999;
}
.methodPropertyTitle {
	white-space: nowrap;
	width:5%;
	padding-right:5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	vertical-align:top;
}
.methodPropertyLine {
	padding-bottom:3px;
	padding-top:5px;
	font-size: 11px;
}
.modifierExplanation{
	right:10px;
	position:absolute;
}
.classTitle {
	font-size: 18px;
	font-weight: bold;
}
code {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: #000000;
	font-style:normal;
}
.codeLine {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: #000000;
}
.backButton {
	margin-top: 30px;
}

.summary {
}

a {
	cursor:pointer;
	color: #333333;
	text-decoration:none;
}


#contentIframe{
	position:absolute;
	border:0px none #FFF;
	width:100%;
	height:100%;
	top:0px;
	bottom:0px;
}