.classDetails{

}

#content{
	border: 1px solid #CCCCCC;
	overflow: auto;
	position: absolute;
	left: 320px;
	top: 10px;
	right: 10px;
	bottom: 30px;
	padding: 10px;
}

#classList{
	background-color: #F7F8F9;
	overflow: auto;
	position: absolute;
	visibility: visible;
	width: 280px;
	left: 12px;
	top: 10px;
	bottom: 30px;
	border: 1px solid #999999;
	padding: 10px;
}



.packageTree{
	padding: 0px;
	padding-left: 10px;
	padding-bottom: 8px;
}

.treeBranch{
	
	font-size: 11px;
	color: #000000;
	padding: 0px;
}
.nonChoosen{
font-weight:normal;

}


.choosen{
font-weight:bold;

}

.elementTitle{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
}


.classTitle{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

code{
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: #000000;
}

.codeLine{
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: #000000;
}
.backButton{

	margin-top: 30px;
}

.summary{
	font-style: italic;
}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
}

.orteliusRemark{
text-align:center;
	position: absolute;
bottom:10px;
left: 10px;
right: 10px;
}
a{
	cursor: hand;
	
}
